.character {
  height: 40px;
  width: 40px;
  background-color: red;
  position: absolute;
}

.map {
  height: 800px;
  width: 800px;
  background: url('./grass.png');
  position: relative;
}

.camera {
  height: 400px;
  width: 400px;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}